:host {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: block;
}

.bottles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bottle {
    cursor: pointer;
    display: flex;
    justify-content: center;

    &.cdk-drag-dragging {
        z-index: 3;
    }
}

.bottle-container {
    width: 2rem;

    .bottle {
        transform: none !important;
    }
}
