<div class="bottles" cdkDropListGroup>
    @for (bottle of bottles; track index; let index = $index) {
    <div cdkDropList (cdkDropListDropped)="cdkDropListDropped($event)" [cdkDropListData]="[getDragData(bottle, index)]"
        class="bottle-container">
        <app-bottle class="bottle" cdkDrag (cdkDragEnded)="cdkDragEnded($event)"
            [cdkDragData]="getDragData(bottle, index)" [bottle]="bottle" [bottleSize]="bottleSize">
        </app-bottle>
    </div>
    }
</div>

@if (isCompleted) {
@defer (when isCompleted) {
<app-new-game></app-new-game>
}
}

<div style="text-align: center;">
    <br />
    <br />
    {{bottles | json}}
    <br />
    <p>finished: {{isCompleted}}</p>
</div>