<div class="header">
    <div class="container">
        <app-new-game-button></app-new-game-button>
    </div>
</div>

<div class="container text-center">
    {{gameName}}
</div>

<div class="bottles">
    @for (bottle of bottles; track index; let index = $index) {
    <div class="bottle-container">
        <app-bottle class="bottle" [bottle]="bottle" [bottleSize]="bottleSize" [isSelected]="selectedBottle === index"
            (selectBottle)="selectBottle(index)">
        </app-bottle>
    </div>
    }
</div>

<!--
@if (isCompleted) {
@defer (when isCompleted) {
<app-new-game></app-new-game>
}
}
-->

<div style="text-align: center;">
    <br />
    <br />
    {{bottles | json}}
    <br />
    <p>finished: {{isCompleted}}</p>
</div>