:host {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: block;
}

.bottles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bottle {
    cursor: pointer;
    display: flex;
    justify-content: center;

    &.cdk-drag-dragging {
        z-index: 3;
    }
}

.bottle-container {
    width: 2rem;

    .bottle {
        transform: none !important;
    }
}

::ng-deep {
    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .cdk-drag-placeholder {
        height: 0 !important;
        border: none !important;
        opacity: 0 !important;
    }
}
