@import "src/variables.scss";

.bottle {
    height: 6rem;
    width: 1.5rem;
    position: relative;
    border-bottom-left-radius: 99rem;
    border-bottom-right-radius: 99rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border: 2px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    background-color: white;
    gap: 0.025rem;
}

.color {
    position: absolute;
    transition: transition_standard(bottom);
    border-radius: 999rem;

    &.selected {
        
    }
}
