@import "src/variables.scss";

.bottle {
    position: relative;
    cursor: pointer;

    > * {
        pointer-events: none;
    }
}

.color {
    position: absolute;
    transition: transition_standard(all);

    .color-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .ball {
            border-radius: 999rem;
            width: 90%;
            height: 90%;
        }
    }
}
