:host {
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 1rem;
    position: relative;
    border-bottom-left-radius: 99rem;
    border-bottom-right-radius: 99rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border: 2px solid rgba(0, 0, 0, 0.6);
    justify-content: flex-end;
    overflow: hidden;
}
